.bg {
    background-image: url('../body/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bg1 {
    background-image: url('../body/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: hsl(235, 21%, 11%);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    padding-bottom: 50px;
}

.theme {
    background-image: url('./icon-moon.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme2 {
    background-image: url('./icon-sun.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 34px;
    color: white;
}

input {
    width: 460px;
    height: 60px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 24px;
}

::placeholder {
    color: gray;
    opacity: 0.7;
}

.add {
    height: 50px;
    border: none;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

.add:hover {
    background-color: bisque;
}

@media screen and (max-width: 1024px) {
    .bg {
        background-image: url('../body/bg-mobile-light.jpg');
        background-size: contain;
        width: 100%;
        justify-content: start;
    }

    .bg1 {
        background-image: url('../body/bg-mobile-dark.jpg');
        justify-content: start;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 425px;
        align-items: center;
        padding: 50px 25px 40px 25px;
    }

    input {
        width: 300px;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
    }
}